/* Global Rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
:root{
  --main-color: #ff2953;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width:768px){
    .container{
        width:750px;
    }
}
/* Medium */
@media (min-width:992px){
    .container{
        width:970px;
    }
}
/* Large */
@media (min-width:1200px){
    .container{
        width:1170px;
    }
}
/* Global Rules */
/* 
======================================================================================================================================
                                                    Start Header
======================================================================================================================================
*/
.start{
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
body>header{
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
}
header .logo{
    color: white;
    margin: 22px;
    font-size: 22px;
    font-weight: bold;
}
header nav {
  flex:1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .toggle-menu{
  color: white;
  font-size: 22px;
  margin-right: 20px;
  cursor: pointer;
}

@media (min-width: 768px){  /* less than 768 this icon will appear, 768 and greater block of code will be implemented*/ 
  header nav .toggle-menu{
    display: none;
  }
}

@media (max-width: 767px){ /* just reach 768 it will display normally, while you under 768 it will display none*/
  header nav ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 60px;
    left: auto;
    width: 100%;
    visibility: hidden;
    opacity: 0.6;
  }
  header nav .toggle-menu:hover + ul{
    visibility: visible;
  }
  header nav ul li{
    margin: 20px 0 0 10px;
  }
  header nav .toggle-menu:hover + ul li i{
    display: none;
  }
}

header nav ul li{
    padding-right: 15px;
    display: inline-block;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    position: static;
}

header nav ul li a:hover{
    border-bottom: 4px solid var(--main-color);
    border-radius: 2px;
}
header nav ul li i{
    color: white;
    transition: 0.7s ease;
}
header nav ul li i:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/* --------------------------------------- */
.intro .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh - 69.6px);
    align-content: center;
}
.intro h4,
.intro h3,
.intro h1,
.intro p,
.intro button{
    color: white;
    text-align: center;
}
.intro h4,
.intro h3,
.intro h1{
    margin: 5px;
    width: 100%;
}
.intro h4{
    font-size: 30px;
    font-weight: 700;
    }
.intro h3{
    font-size: 40px;
    font-weight: 700;
}
.intro h1{
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 4px;
}
.intro p{
    width: 90%;
}
            
.intro button{
    padding: 14px 35px;
    background-color: transparent;
    border: 1px solid white;
    margin-top: 40px;
    font-weight: bold;
    transition: 0.7s ease;
    border-radius: 10px;
}

.intro button:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    transform: scale(1.1);
}
/* 
======================================================================================================================================
                                        Why Section (Second Section)
======================================================================================================================================
*/
.why{
    background-image: url("../images/us-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}
.why .container .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.why .container .content>p{
    width: 100%;
    color: white;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}
.why .container .content>p::after{
    content: "";
    height: 5px;
    width: 55px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    background-color: var(--main-color);
    transform: translateX(-50%); 
}

.why .container .content .card-cont{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
@media (max-width:992px){
    .why .container .content .card-cont .card{
        width: calc(90% / 2);
    }
}
@media (max-width:768px){
    .why .container .content .card-cont .card{
        width: 100%;
    }
}

.why .container .content .card{
    width: calc(90% / 4);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.why .container .content .card img{
   margin-bottom: 20px;
}
.why .container .content .card h5{
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
}
/* 
======================================================================================================================================
                                        Health Section (Third Section)
======================================================================================================================================
*/
.health{
    background-image: url("../images/healthy-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.health .container .cont{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;   
    text-align: center; 
    align-content: center;
    padding: 100px 0;
}
.health .container .cont h3{
    font-size: 2rem;
    font-weight: 800;
}
.health .container .cont h3,
.health .container .cont p,
.health .container .cont button{
    color: white;
    margin-bottom: 40px;
}

.health .container .cont button{
    padding: 14px 35px;
    background-color: transparent;
    border: 1px solid white;
    margin-top: 40px;
    font-weight: bold;
    transition: 0.7s ease;
    border-radius: 10px;
}

.health .container .cont button:hover {
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    transform: scale(1.1);
}
/* 
======================================================================================================================================
                                        Trainer Section (Fourth Section)
======================================================================================================================================
*/
.trainer{
    background-image: url("../images/trainer-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
}
.trainer .container .content>p{
    width: 100%;
    color: white;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    position: relative;
}
.trainer .container .content>p::after{
    content: "";
    width: 55px;
    height: 5px;
    position: absolute;
    left: 50%;
    bottom: -3px;
    background-color: var(--main-color);
    transform: translateX(-50%);
}

.trainer .container .content .card-cont{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.trainer .container .content .card-cont .card{
    width: calc(90% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s ease;
}
.trainer .container .content .card-cont .card:hover{
    transform: scale(1.1);
}

.trainer .container .content .card-cont .card h5{
    color: white;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}
.trainer .container .content .card-cont .card img{
    width: 100%;
    border-radius: 10px;
}
.trainer .container .content .card-cont .card div{
    background-color: white;
    width: 100%;
    height: 50px;
    margin: -25px;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.trainer .container .content .card-cont .card div i{
    font-size: 25px;
    transition: 0.7s ease;
}
.trainer .container .content .card-cont .card div i:hover{
    transform: scale(1.1);
}
@media (max-width:768px){
    .trainer .container .content .card-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .trainer .container .content .card-cont .card{
        width: 100%;
    }
    .trainer .container .content .card-cont .card h5{
        font-size: 10px;
    }
    .trainer .container .content .card-cont .card div{
        height: 30px;
    }
    .trainer .container .content .card-cont .card div i{
        font-size: 20px;
    }
}
/* 
======================================================================================================================================
                                    Contact-us Section (Fifth Section)
======================================================================================================================================
*/
.contact-us{
    display: flex;
    background-color: #27223f;
}
.contact-us .image{
    width: 50%;
    background-image: url("../images/contact-img.jpg");
    background-size: cover;
    /* height: 100vh; */
}

.contact-us .contact {
    display: flex;
    align-items: center;
    margin-left: 25px;
    width: 50%;
    padding: 20px 0;
}
@media (max-width:768px) {
    .contact-us{
    padding: 50px 0;
    }
    .contact-us .contact{
        width: 100%;
    }
    .contact-us .image{
        display: none;
    }
    .contact-us .contact div{
        width: 100%;
    }
}
.contact-us .contact div{
    width: 90%;
}
.contact-us .contact div h2{
    color: white;
    font-weight: bold;
    position: relative;
}
.contact-us .contact div h2::after{
    content: "";
    position: absolute;
    left: 3px;
    bottom: -5px;
    width: 55px;
    height: 5px;
    background-color: var(--main-color);
}

.contact-us .contact div input{
    margin-top: 30px;
    padding: 10px 20px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    transition: 0.7s ease;
    border: none;
}
.contact-us .contact div input:hover{
    transform: scale(1.04);
    }
.contact-us .contact div div:nth-child(5) input{
    padding: 45px 20px;

}
.contact-us .contact div div button{
    padding: 10px 50px;
    margin: 30px 0 0 auto;
    background-color: var(--main-color);
    color: white;
    border: none;
    transition: 0.7s ease;
    border-radius: 10px;
}
.contact-us .contact div div button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/* 
======================================================================================================================================
                                    Footer Section (Sixth Section)
======================================================================================================================================
*/
footer{
    background-color: #252233;
}
footer .container .content{
    display: flex;
    justify-content: space-around;
}
@media (max-width:768px){
    footer .container .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

footer .container .content a{
    color: white;
    text-decoration: none;
    width: 30%;
    text-align: center;
    margin: 40px 0;
    transition: 0.7s ease;
}
footer .container .content a:hover{
    transform: scale(1.1);
}
footer .container .content a div{
    margin-top: 20px;
    color: white;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
/* 
======================================================================================================================================
                                    Last Section (Seventh Section)
======================================================================================================================================
*/
.copy .container p{
    text-align: center;
    padding: 20px;
}
.copy .container p span{
    color: var(--main-color);
}